<h1>恋愛適性診断</h1>

<%= form_with model: @user, local: true do |form| %>
  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_field :birthday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
